<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>DeconnectionServlet</display-name>
    <servlet-name>DeconnectionServlet</servlet-name>
    <servlet-class>org.projetEncheres.Servlets.DeconnectionServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ConnectionServlet</display-name>
    <servlet-name>ConnectionServlet</servlet-name>
    <servlet-class>org.projetEncheres.Servlets.ConnectionServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ConsulterEncheresHorsLigneServlet</display-name>
    <servlet-name>ConsulterEncheresHorsLigneServlet</servlet-name>
    <servlet-class>org.projetEncheres.Servlets.ConsulterEncheresHorsLigne</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>AccueilServlet</display-name>
    <servlet-name>AccueilServlet</servlet-name>
    <servlet-class>org.projetEncheres.Servlets.AccueilServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>TestDBPoolServlet</display-name>
    <servlet-name>TestDBPoolServlet</servlet-name>
    <servlet-class>org.projetEncheres.Servlets.TestDBPoolServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestDBPoolServlet</servlet-name>
    <url-pattern>/TestDB</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeconnectionServlet</servlet-name>
    <url-pattern>/DeconnectionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ConnectionServlet</servlet-name>
    <url-pattern>/Connection</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ConsulterEncheresHorsLigneServlet</servlet-name>
    <url-pattern>/ConsulterEncheresHL</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AccueilServlet</servlet-name>
    <url-pattern>/Accueil</url-pattern>
  </servlet-mapping>
  <display-name>projetEncheres</display-name>
  <welcome-file-list>
    <welcome-file>Accueil</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ConnectionServlet</display-name>
    <servlet-name>ConnectionServlet</servlet-name>
    <servlet-class>org.projetEncheres.Servlets.ConnectionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnectionServlet</servlet-name>
    <url-pattern>/ConnectionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InscriptionServlet</display-name>
    <servlet-name>InscriptionServlet</servlet-name>
    <servlet-class>org.projetEncheres.Servlets.InscriptionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InscriptionServlet</servlet-name>
    <url-pattern>/InscriptionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifierProfileUtilisateurServlet</display-name>
    <servlet-name>ModifierProfileUtilisateurServlet</servlet-name>
    <servlet-class>org.projetEncheres.Servlets.ModifierProfileUtilisateurServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifierProfileUtilisateurServlet</servlet-name>
    <url-pattern>/modifierprofile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestDBPool</display-name>
    <servlet-name>TestDBPool</servlet-name>
    <servlet-class>org.projetEncheres.Servlets.TestDBPool</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestDBPool</servlet-name>
    <url-pattern>/TestDBPool</url-pattern>
  </servlet-mapping>
</web-app>